svg{
	background-color: white;
}

.nameSpan {
  white-space: nowrap;
  margin-right: 2px;
}

.nameSpan:hover { 
    background-color: lightgray;
}
.nameSpan.selected { 
    background-color: darksalmon;
}
.nameSpan.selected:hover { 
    background-color: darkpink;
}

.name-list { 
    float:left;
	margin:10px;
	max-width: 300px;
}

.som-node {
	width: 20px; 
	height: 20px; 
	float: left; 
	opacity: 1;
	text-align: center;
}

.som {
	/*background-color:black;*/
  /*background-color:black;*/
}


rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;   
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}

span.ct-legend + span.ct-legend {
  margin-left: 20px;
}