.nameSpan:hover { 
    background-color: lightgray;
}
.nameSpan.selected { 
    background-color: darksalmon;
}
.nameSpan.selected:hover { 
    background-color: darkpink;
}

.name-list { 
    float:left;
	margin:10px;
	max-width: 200px;
}

.som-node {
	width: 20px; 
	height: 20px; 
	float: left; 
	opacity: 1;
	text-align: center;
}

.som{
	background-color:black;
}